*{
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  flex-direction: row;
  width: 100vw;
  display: flex;
}

.App > div:first-child{
  width: 500px;
  background-color: #333;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.App > div:first-child pre{
  margin: auto;
}

.array{
  margin: 30px 0;
}

.App > div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 500px);
}

.App > div:last-child pre{
  width: 500px;
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  margin: 15px 0;
}

.App > div:last-child pre code{
  color: #fff;
}

code div div{
  margin-left: 20px;
}

code{
  color: rgba(255, 255, 255, 0.5);
  line-height: 25px;
}

code .property{
  font-weight: bold;
  color: #fff;
}

code .value{
  font-weight: bold;
  color: hsl(0, 50%, 50%);
}

form > div{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

form div label{
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

form div label.disabled{
  color: rgba(0,0,0,0.5);
  cursor: not-allowed;
}

form > label{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  margin-left: 10px;
}

input[type="text"]{
  display: block;
  width: calc(100% - 60px);
  border: none;
  background-color: #eee;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 15px;
  outline: none;
  font-size: 16px;
}

input[type="submit"]{
  border-radius: 10px;
  background-color: #ccc;
  padding: 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:active{
  background-color: #bbb;
}

code .button{
  cursor: pointer;
  transition: 100ms ease all;
}

code .button.delete:hover{
  color: hsl(0, 50%, 50%);
  font-weight: bold;
}

code .button.edit:hover{
  color: hsl(50, 50%, 50%);
  font-weight: bold;
}
